
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
padding: 1rem;
margin: 1rem;
margin-right: 1rem;
box-sizing: borde-box;
font-family: "Lilita One", sans-serif;
text-decoration: none;
font-size: 18pt;
}
:root{
    --grayL:#504f4f;
    --grenBlack: #2f4538;
    --withe:#f0f0f0;
}
body{
    background-color: var(--grenBlack);
    width: 100dvw;
    overflow-x: hidden; /* tira a barra de rolagem horizontal */
}
.plant{
    font-size: 4rem;
    background-image: url('/_img/grama.png');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke-width:text;
    -webkit-text-stroke: 2px black; /*Define a borda do texto */
}
button{
    border-radius: 8rem;
    border: none;
}
#nameInput{
    border-radius: 8rem;
    border: none;
    background-color: var(--withe);
}
#nameInput:focus{
    background-color: var(--grayL);
    color: var(--withe);
}

#btnEnter{
    background-color: var(--withe);
}
#btnEnter:active{
    background-color: var(--grayL);
}
.btnUp{
    background-color:dodgerblue ;
}
.btnUp:active{
    background-color:rgb(32, 116, 201) ;
}
.btnDel{
    background-color: rgb(180, 28, 28);
}
.btnDel:active{
    background-color: red;
}

ul{
    width: 30rem;
    list-style: none;
    /* border: 2rem solid black; */
}
li{
    border: 5px solid black;
}